
body {
    font-family: 'Poppins', sans-serif;
    background-color: #01090a;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}
img{
    height: 100px;
    width: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #feffe8;
    padding: 15px 30px;
    border-radius: 12px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.new-item-btn {
    background: #c8ffb0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.main-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.workflow {
    flex: 1;
    background: rgba(255, 254, 231, 0.934);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.step {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blue { background: #d0f5fe; }
.yellow { background: #fff9c8; color: #333; }
.pink { background: #f4cfff; }
.completed {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: #0b0443;
}
.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.employee-details, .request-details {
    background: rgb(255, 254, 224);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h3 {
    margin-bottom: 15px;
    color: #000000;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select, textarea, button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000000;
}
.submit-btn {
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.message {
    margin: 20px auto;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
