<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
    <link rel="stylesheet" href="../static/forgot.css">
</head>
<body>
    <div class="container">
        <h2>Password Reset Request Received</h2>
        <p>A password reset link has been sent to your email address if it exists in our system.</p>
        <p><a href="{{url_for('login')}}">Back to Login</a></p>
    </div>
</body>
</html>
