
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUNGER HUB | Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="login-form">
                    <div class="text-center mb-3 loho">
                        <h3>OffShift</h3>
                    </div>
                    <h2 class="text-center animated fadeIn">Create Account</h2>
                    <form id="signupForm">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control animated fadeInUp" id="email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control animated fadeInUp" id="password" name="password" placeholder="Enter password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" class="form-control animated fadeInUp" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block animated bounce">Sign Up</button>
                    </form>
                    <p class="text-center mt-3">Already have an account? <a href="./login.html">Login</a></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>