<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Permanent+Marker&family=Shadows+Into+Light&family=Spicy+Rice&display=swap" rel="stylesheet">
 
</head>
<body>
    <h1 class="permanent-marker-regular " id="head">WELCOME<br> TO<br> OffShift</h1>
    <p  class="shadows-into-light-regular" id="para">An Application That Helps Employees To Apply For Leave</p>    
    <a  id="link" href="{{ url_for('register') }}">register</a>
</body>
</html>